<footer class="footer">
  <div class="footer-container">
    <section>
      <h2 class="footer-titulo">Sobre</h2>
      <p class="footer-paragrafo">
        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
      </p>
    </section>
    <address>
      <h2 class="footer-titulo">Contato</h2>
      <ul>
        <li><i class="fa-solid fa-phone"></i>(81)88888-8888</li>
        <li><i class="fa-regular fa-envelope"></i>{{email}}</li>
        <li><i class="fa-brands fa-square-whatsapp"></i>(81)88888-8888</li>
      </ul>
    </address>
  </div>
  <section class="footer-copyright">
    &copy; Todos os direitos reservados
  </section>
</footer>
